flask
flask-cors
google-generativeai
speechrecognition
pyttsx3
pandas
python-dotenv
vadersentiment
requests
pygame
playsound
plyer
threading
datetime
streamlit
streamlit-extras
streamlit-lottie
streamlit-quill
streamlit-calendar
sounddevice
wave
tempfile
csv
json
re
time
os
random
